@using AppReadyGo.Helpers;
@model AppReadyGo.Model.Pages.Application.ApplicationModel

@Html.HiddenFor(m => m.Id)
<p>
    <label>Screen</label><br> 
    <input type="file" name="sreen_file_1" />
</p>
<p class="submit">
    @Html.ValidationSummary(true, null, new { @class = "error" })
    <input type="submit" value="Next" class="button green medium"/>
</p>