<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="emailSettings" type="AppReadyGo.Core.EmailSettings, AppReadyGo.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="encryptionSettings" type="AppReadyGo.Core.EncryptionSettings, AppReadyGo.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <emailSettings enabled="true" forward="true">
    <smtp host="smtp.gmail.com" userName="noreply@appreadygo.com" password="q7oi2NhisTNSe" port="587" enableSsl="true" />
    <email from="noreplydev@appreadygo.com" fromName="AppReadyGo" forward="ypanshin@gmail.com" contactUsEmail="contactus@appreadygo.com" />
    <linksExpire activation="14" forgotPassword="3" />
  </emailSettings>
  <encryptionSettings passPhrase="yq60pgolDbTaCK" initVector="qZt82RNqqZt82RNq" saltVaue="j7QOAsuS3CeSsA" />
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners></listeners>
    <formatters>
      <add template="[{timestamp}] Message: {message} Extended Properties: {dictionary({key} - {value}&#xA;)} Category: {category}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Custom Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General"></add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners></listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners></listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners></listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="Database" />
  <appSettings>
      <add key="GoogleAnalytics" value="False" />
  </appSettings>

  <connectionStrings>
    <!--<add name="Database" connectionString="Data Source=Pavel-pc;Initial Catalog=fingerprint;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Database" connectionString="data source=WIN-O968SJ7A1UU\SQLEXPRESS;initial catalog=AppReadyGo;packet size=4096;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="Database" connectionString="data source=qa.appreadygo.com;initial catalog=arg_dev;packet size=4096;password=1aZ6khPTq9V;persist security info=False;user id=arg_qa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
