@model AppReadyGo.Model.Pages.Account.ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { Forgot Password }
@section header { }
<section id="content">
    <div class="content-wrapper">
        <article class="center">
            <div class="form-wrapper">
                <header>
                    <h1>Request a new password</h1>
                    <h2>If you've forgotten your password, enter the email address you registered with and we'll send you a link that you can use to reset your password.</h2>
                </header>
                <div class="sub-wrapper">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" })) 
                {
                    <p class="required">
                        @Html.LabelFor(m => m.Email)<br>
                        @Html.TextBoxFor(m => m.Email, new { autocomplete="off" }) 
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "error" })
                        @Html.ValidationMessage("error", new { @class = "error" })
                    </p>
                    <p class="actions">
	                    <input type="submit" value="Request password reset" class="button green medium"/>
                    </p>
                }
                </div>
            </div>
        </article>
    </div>
</section>