@model AppReadyGo.Model.Pages.Account.ForgotPasswordModel
<div class="form-wrapper">
    <h2>Forgot Password</h2>
    @using (Html.BeginForm()) 
    {
        <p class="desc">
            Use the form below to send email with reset password instructions. 
        </p>
        <p>
            @Html.LabelFor(m => m.Email) @Html.TextBoxFor(m => m.Email, new { autocomplete="off" })
            <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
            <div class="error">@Html.ValidationSummary(true)</div>
        </p>
        <p class="submit">
	        <input type="submit" value="Send" class="button green medium"/>
        </p>
    }
</div>
