@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@using AppReadyGo.Helpers;
@model ContentModel
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { Error }
@section header { }
<section id="content">
    <div class="content-wrapper">
        <article class="borders">
            <h2>An error occurred while processing your request!</h2>
            <p>Sorry, an error occurred while processing your request.<br /> Please contact to administrator.</p>
        </article>
    </div><!-- /.content-wrapper --> 
    <p class="clear"></p>
</section><!-- /#content --> 
