@using AppReadyGo.Helpers;
@model AppReadyGo.Web.Model.Pages.Analytics.IndexModel
@{
    Layout = "~/Views/Analytics/_Analytics.cshtml";
}
@section title { Task Analytics }
@section header 
{
    <script src="@Html.Content("~/ThridParty/flot-0.8.0/jquery.flot.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var d1 = [[0, 3], [1, 3], [2, 5], [3, 7]];
            $.plot($("#views_graph"), [
                {
                    data: d1,
                    bars: {
                        show: true
                    }
                }
            ]);
            $.plot($("#clicks_graph"), [
                {
                    data: d1,
                    bars: {
                        show: true
                    }
                }
            ]);
            $.plot($("#scrolls_graph"), [
                {
                    data: d1,
                    bars: {
                        show: true
                    }
                }
            ]);
        });
    </script>
}
<p><label>Downloads:</label><a>30</a></p>
<p><label>Different Devices:</label><a>30</a></p>
<p><label>Reported Screens:</label><a>30</a></p>
<p><label>Using Sessions:</label><a>30</a></p>
<p><label>Average Sessions Duration:</label><a>30</a></p>
<p><label>Average Clicks per Sesson:</label><a>30</a></p>
<p><label>Average Scrolls per Sesson:</label><a>30</a></p>
<div class="graph-wrapper">
    <label>Views by Path</label>
    <div><div id="views_graph"></div></div>
</div>
<div class="graph-wrapper">
    <label>Clicks by Path</label>
    <div><div id="clicks_graph"></div></div>
</div>
<div class="graph-wrapper">
    <label>Scrolls by Path</label>
    <div><div id="scrolls_graph"></div></div>
</div>



