@using AppReadyGo.Model.Master
@model BeforeLoginMasterModel
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { Home }
@section header { }

<section id="slideshow">
    <div class="content-wrapper">
    @Html.Raw(ViewBag.Slideshow)
    </div>
</section><!-- /#slideshow --> 
<section id="content">
    <div class="content-wrapper">
    @Html.Raw(ViewBag.Content)
    </div><!-- /.content-wrapper --> 
</section><!-- /#content --> 


