<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database"
      connectionString="data source=qa.appreadygo.com;initial catalog=arg_qa;packet size=4096;password=1aZ6khPTq9V;persist security info=False;user id=arg_qa;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <emailSettings enabled="true" forward="false" xdt:Transform="Replace">
    <smtp host="smtp.gmail.com" userName="noreply@appreadygo.com" password="q7oi2NhisTNSe" port="587" enableSsl="true"/>
    <email from="noreply@appreadygo.com" fromName="Eye tracker" forward="admin@appreadygo.com" contactUsEmail="contactus@appreadygo.com"/>
    <linksExpire activation="14" forgotPassword="3"/>
  </emailSettings>
  <appSettings>
    <add key="GoogleAnalytics" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="Error"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="404"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="Insert">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="404" responseMode="Redirect" />
      <error statusCode="500" subStatusCode="-1" path="fatal-error.html" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>