@using AppReadyGo.Helpers;
@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@model AfterLoginMasterModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { @RenderSection("title") }
@section header 
{ 
    @RenderSection("header")
}
<div class="left-panel">
    <div class="left-menu">
        @RenderSection("leftMenu")
    </div>
</div>
<div class="right-panel">
    @RenderBody()
</div>
