@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@using AppReadyGo.Helpers;
@model AuthenticatedContentModel
@{
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}
@section title { @Model.Title }
@section header { }
<section id="content">
    <div class="content-wrapper">
        @Html.Raw(Model.Content)
    </div><!-- /.content-wrapper --> 
    <p class="clear"></p>
</section><!-- /#content --> 