@using AppReadyGo.Model.Pages.Home
@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@using AppReadyGo.Helpers;
@model ContentModel
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { 404 Error }
@section header { }
<section id="content">
    <div class="content-wrapper">
        <article class="borders">
            <h2>We Couldn't Find Your Page! (404 Error)</h2>
            <p>Unfortunately, the page you've requested cannot be displayed. It appears that you've lost your way either through an outdated link or a typo on the page you were trying to reach.</p>
        </article>
    </div><!-- /.content-wrapper --> 
    <p class="clear"></p>
</section><!-- /#content --> 