@using AppReadyGo.Web.Model.Pages.Admin
@model ContentMasterModel
@{
    Layout = "~/Views/Admin/_Content.cshtml";
}
@section title { Content Manager }
<h3>Content Manager Settings</h3>




