@using AppReadyGo.Model
@using AppReadyGo.Model.Master
@model ViewModelWrapper<MainMasterModel, BeforeLoginMasterModel, AppReadyGo.Model.Pages.Account.ForgotPasswordModel>
@{
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
@section title { Forgot Password }
@section header { }
<section id="content">
    <div class="content-wrapper">
        <article class="center">
            @Html.Partial("Forms/ForgotPasswordForm", Model.View)
        </article>
    </div>
</section>