
body {background: #fff;line-height:1em;}
html {min-width:980px}
html, body {height:100%}

.container {margin:0 auto;width:100%;font-size:.75em}
header .container {height:100px;overflow:hidden;position:relative}
.tail-top{background-repeat:repeat-x;background-color:#f2f2f2;background-position:left top;min-width:980px}
.tail-top {background-image:url(images/tail-top.gif)}
.tail-top{background-position:0 -450px;}
.logo {margin-left:20px;margin-top:5px;}

.header-box {width:100%;background:url(images/small-header-box-tail.png) repeat-x left top;position:relative;top:40px}
.header-box .left {background:url(images/small-header-box-left.png) no-repeat left top}
.header-box .right {background:url(images/small-header-box-right.png) no-repeat right top;height:81px}
/* header */
header nav {float:right;padding:4px 24px 0 0}
header nav li {float:left;font-size:18px;line-height:2.4em;text-transform:uppercase;padding-left:21px;margin-left:19px;background:url(images/divider.gif) repeat-y left top}
header nav li:first-child {background:none;padding-left:0;margin-left:0}
header nav li a {color:#fff;text-decoration:none}
header nav li.current a, header nav li a:hover {color:#82b704}
header .top-info {position:absolute;left:45px;top:17px}

h1.logo {padding:9px 0 0 44px;font-size:30px;line-height:1.2em}

div.user-info{position:absolute;right:10px;top:5px;width:700px;text-align:right;}
div.user-info h2{font-size:17px;line-height:33px;font-weight:normal;}
div.user-info form{float:right;margin-left:20px;}

.main-content{padding:20px;min-height:500px;}
.main-content h3.title{margin-top:0;font-size:17px;}

#copyright{margin-right:20px;}

/* buttons */
.link2 {display:inline-block;color:#fff;font-size:15px;line-height:1.2em;text-decoration:none;background:url(images/link2-bgd.gif) left top repeat-x;letter-spacing:-1px;text-transform:uppercase;cursor:pointer;}
.link2:hover {color:#000}
.link2 span {display:block;background:url(images/link2-left.gif) no-repeat left top}
.link2 span span {background:url(images/link2-right.gif) no-repeat right top;padding:10px 22px}

/* crumb */
.crumb .inner{background:url(images/crumb-middle.png) repeat-x center center;height:55px;}
.crumb .border-right{background:url(images/crumb-right.png) no-repeat center right;padding-right:7px;}
.crumb .border-left{background:url(images/crumb-left.png) no-repeat center left;padding-left:7px;}
.crumb .inner ul{height:40px;}
.crumb .inner ul li {overflow:hidden;float:left;line-height:50px;padding-right:18px;background:url(images/crumb-separator.png) no-repeat center right;height:53px;}
.crumb .inner ul li h4{padding-left:10px;line-height:50px;margin:0px;font-weight:normal;color:#fff;}
.crumb a {}
.crumb a:hover {color:#fff;}
.main-content{padding:6px 0px 1px 0px !important}

.form-wrapper { width: 600px;}
.form-wrapper textarea{font-size: 18px;height:300px;}

.main-content .content-wrapper {margin: 30px;}

/*Icons*/
div.status-ok{margin:4px auto auto; width:20px;height:20px; background:url("images/sprite.10.png") no-repeat scroll -321px -41px transparent;}
div.status-alert{margin:4px auto auto; width:20px;height:20px; background:url("images/sprite.10.png") no-repeat scroll -342px -41px transparent;}
div.status-not-published{margin:4px auto auto; width:20px;height:20px; background:url("images/sprite.10.png") no-repeat scroll -321px -59px transparent;}

/* Applications page */
#app_page .column-active{width: 45px;}
#app_page .column-icon{width: 32px;}
#app_page.content-wrapper{padding:20px;}
#app_page .top-panel{width:22%;padding-top:42px;}
#app_page .wrap{width:75%;}
#app_page .top-panel table{margin-bottom:20px;}

#screen span.size span{line-height:43px;margin:5px 11px 5px 5px;}
#screen span.size input {width:46%;}

/* tables */
select{padding:2px;height:2em}
br.clear { height: 2px; line-height: 2px;}
.clear{clear:both;}

.wrap{margin:4px 15px 0 0}
.a-l{float:left;}
.a-r{float:right;}
.t-nav{height:30px;margin:6px 0 4px;vertical-align:middle}
.t-nav .t-nav-pages{float:right;display:block;cursor:default;height:30px;line-height:30px;font-size:12px}
.t-nav .t-nav-pages a{ border-color: #E3E3E3; }
.t-nav .t-nav-pages a,.t-nav-pages span.current{text-decoration:none;padding:3px 6px}
.t-nav .t-nav-pages a.disabled:hover,.t-nav .t-nav-pages a.disabled:active{cursor:default}
.t-nav .t-nav-pages a,.t-nav-pages span.current{-webkit-border-radius:3px;border-radius:3px;border-width:1px;border-style:solid}
.t-nav .t-nav-pages .cur-p { text-align: center; }
.t-nav .d-num{margin-right:10px;font-size:12px;font-style:italic;font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif}
.t-nav .no-pages,.t-nav .one-page .pagination-links{display:none}

.t-nav .actions { padding: 2px 8px 0 0;line-height:30px;margin-right:15px;}

table.fixed{table-layout:fixed}

.sorting-indicator{display:none;width:7px;height:4px;margin-top:8px;margin-left:7px;background-image:url(images/sort.gif);background-repeat:no-repeat}
th.sorted.asc .sorting-indicator,th.desc:hover span.sorting-indicator{display:block;background-position:0 0}
th.sorted.desc .sorting-indicator,th.asc:hover span.sorting-indicator{display:block;background-position:-7px 0}

.tbl{background-color: #F9F9F9;border-color: #DFDFDF;-webkit-border-radius:3px;border-radius:3px;border-width:1px;border-style:solid;border-spacing:0;width:100%;margin:0}
.tbl *{word-wrap:break-word}
.tbl a{text-decoration:none}
.tbl thead th:first-of-type{-webkit-border-top-left-radius:3px;border-top-left-radius:3px}
.tbl thead th:last-of-type{-webkit-border-top-right-radius:3px;border-top-right-radius:3px}
.tbl tfoot th:first-of-type{-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px}
.tbl tfoot th:last-of-type{-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}
.tbl td,.tbl th{border-width:1px 0;border-style:solid}.tbl tfoot th{border-bottom:0}
.tbl .no-items td{border-bottom-width:0}
.tbl td{font-size:12px;padding:4px 7px 2px;vertical-align:top}
.tbl td p,.tbl td ol,.tbl td ul{font-size:12px}
.tbl th{padding:7px 7px 8px;text-align:left;line-height:1.3em;font-size:14px}
.tbl th input{margin:0 0 0 8px;padding:0;vertical-align:text-top}
.tbl .check-column{width:2.2em;padding:11px 0 0;vertical-align:top}
.tbl tbody th.check-column{padding:9px 0 12px}
.tbl .num,.column-comments,.column-links,.column-posts{text-align:center}
.tbl th#comments{vertical-align:middle}
.tbl th,.search{font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif}
.search-box{line-height:35px;}
.search-box input{padding:7px 0px;}
.tbl th,.tbl td{overflow:hidden}
.tbl th{font-weight:normal}
.tbl td p{margin:2px 0 .8em}
.tbl .column-comment p{margin:.6em 0}
.tbl th.sortable,.tbl th.sorted{padding:0}
.tbl td,.tbl th{border-top-color:#fff;border-bottom-color: white}
.tbl td{color:#555}
.tbl p,.tbl ol,.tbl ul{color:#333}
.tbl thead tr th,.tbl tfoot tr th{color:white; font-family:Arial;}
.tbl thead tr th,.tbl tfoot tr th{background-color:#727D74;
                                  /*background-image:-ms-linear-gradient(top,#f9f9f9,#ececec);
                                  background-image:-moz-linear-gradient(top,#f9f9f9,#ececec);
                                  background-image:-o-linear-gradient(top,#f9f9f9,#ececec);
                                  background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
                                  background-image:-webkit-linear-gradient(top,#727D74,#727D74);
                                  background-image:linear-gradient(top,#f9f9f9,#ececec)*/}
table.tbl span.delete a,table.tbl span.trash a,table.tbl span.spam a{color:#bc0b0b}
.row-actions{visibility:hidden;padding:2px 0 0}
tr:hover .row-actions{visibility:visible}
.fixed .column-role{width:15%}

th.sortable a,th.sorted a{display:block;overflow:hidden;padding:7px 7px 8px}
th.sortable a span,th.sorted a span{float:left;cursor:pointer}

tr.portf{cursor:pointer;}
.alt{background-color:#d9e0e4}
.app{background-color:#cbd1d4;display:none;}
.app-alt{background-color:#bec3c4}

td.no-app{text-align:center;}
.tbl .column-image {width:60px;}

.tbl, .alt {background-color: #e7eef1;}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
  background-color: #FFFFFF;
  border-color: #DFDFDF;
  color: #333333;
}
.button, .button-secondary, .submit input, input[type="button"], input[type="submit"] {
  border-color: #BBBBBB;
  color: #464646;
}
input,select{outline:0;line-height:15px;margin:1px;padding:3px;}
select{-webkit-border-radius:3px;border-radius:3px;border-width:1px;border-style:solid}
input[type="text"],input[type="password"],input[type="number"],input[type="search"],input[type="email"],input[type="url"],textarea
{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
input[type="checkbox"],input[type="radio"]{vertical-align:text-top;padding:0;margin:1px 0 0}
input[type="search"]{-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration{display:none}

textarea,input[type="text"],input[type="password"],input[type="file"],input[type="button"],input[type="submit"],input[type="reset"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select
{-webkit-border-radius:3px;border-radius:3px;border-width:1px;border-style:solid}


.left-panel{border-right:1px solid #d9d9d9;width:250px;float:left;padding-top:10px;}
.left-panel .footer{color:#333;font-size:11px;}
.left-panel .footer a{color:#3e5163;text-decoration:none;}
.left-panel .footer a:hover{text-decoration:underline;}
.left-panel ul{margin:0;padding:0;}
.left-panel li{list-style-type:none;}
.left-panel .left-menu{margin-bottom:150px;}
.left-panel .left-menu ul{margin-right:10px;}
.left-panel .left-menu ul li{border-bottom:1px solid #E8E8E8;}
.left-panel .left-menu ul li:first-child{border-bottom:1px solid #fff;}
.left-panel .left-menu ul li a{text-decoration:none;display: block;height: 30px;cursor:pointer;
								line-height: 29px;outline: 0 none;padding: 0 19px 0 34px;position: relative;
								color:#000;}
.left-panel .left-menu ul li span{display:block;background:url("template/images/marker.gif") no-repeat scroll left 4px transparent;
                                  float:right;width:10px;height:10px;margin-top:10px;}
.left-panel .left-menu ul li a:hover{color: #82B704;}
.left-panel .left-menu ul li.active a{background-color: #e4e4e4; border-radius: 3px 3px 3px 3px;color: #82B704;}
.left-panel .left-menu ul li.active span{background:none;}
.left-panel .left-menu ul li.disabled a{color: #E8E8E8;cursor:default;}
.left-panel .left-menu ul li.disabled a:hover{color: #E8E8E8;}
.left-panel .left-menu ul li.disabled span{background-position:-327px -126px;}

.right-panel{padding-left:260px;padding-top:10px;}


.testers-widget{}
.testers-widget p{font-size: 10px;margin: 0px;padding: 0px;line-height: 10px;}
.testers-widget img{height: 26px;margin-right: 2px;}



/* new */
aside.widgets {width: 250px;margin-left:10px;float:left;margin-right:20px;}
aside.widgets header{background-color:#727D74;padding:7px 7px 8px;text-align:left;line-height:1.3em;font-size:14px;color: white;}
aside.widgets article{ border:1px solid gray;color: #464646;background-color: #e7eef1;font-size: 12px;}
aside.widgets article p{border-bottom:1px solid #fff;line-height: 24px;height: 24px;padding-left:10px;}
aside.widgets article p label{float:left;width:70px;}

div.content section{margin-left:280px}
div.content section header span,
div.content section header a{background-color:#727D74;padding:7px 7px 8px;text-align:center;line-height:1.3em;font-size:14px;color: white;width:100px;display:inline-block;}
div.content section header span.sel{}
div.content section header label{line-height:33px;font-size:15px;margin-left:30px;}
div.content section article{padding:10px;border:1px solid grey;margin-bottom:20px;overflow:auto;margin-right: 10px;}
div.content section article.screens img{width:100px;margin: 5px;}
div.content article p{float:left;width:200px;clear:left;margin-bottom:23px;}
div.content article p label{float:left;width:168px;}
div.content article .graph-wrapper{margin-left:240px;overflow:auto;}
div.content article .graph-wrapper label{float:left;width:120px;padding-top:66px;}
div.content article .graph-wrapper > div{}
div.content article .graph-wrapper > div > div{margin-left:120px;width: 450px;height: 100px;position:relative;}


